@model IEnumerable<WebAppi.Models.CryptoModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/IndexCSS.css" />

<h1>Index</h1>

<table class="table">
    <thead>
    <tr>
        <th>Image</th>
        <th>Nazwa Kryptowaluty</th>
        <th>Symbol</th>
        <th>Aktualna Cena</th>
        <th>Najniższa cena w ostatnich 24h</th>
        <th>Najwyższa cena w ostatnich 24h</th>
        <th>Zmiana w ciągu ostatnich 24h</th>
        <th>Data Odczytu</th>
        <th>Szczegóły</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.CryptoNameNavigation?.Image" alt="@item.CryptoNameNavigation?.CryptoName image" class="crypto-index-img" />
            </td>
            <td>
                @item.CryptoNameNavigation?.CryptoName
            </td>
            <td>
                @item.CryptoNameNavigation?.Symbol.ToUpper()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CryptoPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Low24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.High24)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceChange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Crypto_Id" class="btn-primary">Details</a> 
            </td>
        </tr>
    }
    </tbody>
</table>